.navigation{
    display: flex;
}

li{
    list-style-type: none;
}
.btn{
    text-decoration: none;
    font-size: 22px;
    color: blue;
    margin: 0 10px;
}
.page{
    margin: 20px;
    display: inline-block;
}